.navbar .navbar-brand {
  color: #3fe43f;
  font-size: 24px;
  
}

.blogname {
  /* font-family: 'Times New Roman', Times, serif; */
  font-family: 'Raleway, Times New Roman, serif';
}

/* Syling fropdown */

