body {
    overflow-x: hidden;
}

.navbar {
    background-color: #b7ffb7;
    height: 10hv;
}


.navbar .navbar-brand {
    color: #5ecb16;
    font-size: 24px;


}

.blogname:hover {
    color: #49e949;
}



#page-header {
    height: 200px;
    background: url("../assets/img/bgphotos/pen\ and\ notebook.jpg");
    background-position: 0 -360px;
    background-attachment: fixed;
    color: #fff;
    border-bottom: #eee solid;
    padding-top: 50px;

}

.about-img {
    margin-top: -50px;
    /*To go up, neative pixels*/
}

#home-heading {
    position: relative;
    min-height: 300px;
    background: url('../assets/img/bgphotos/pen\ and\ notebook.jpg');
    background-attachment: fixed;
    text-align: center;
    color: #fff;

}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    /* For the image transparancy but dark*/
}