body {
    margin-top: 105px;
}


/* .navbar {
    height: 10hv;
    #b7ffb7 1
} */

.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  opacity: 0.9;
  background: #fff;
}
.navbar .navbar-brand {
    color: #64c027;
    font-size: 24px;


}
 /* .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem;
}  */

.blogname:hover {
    color: #7fc74f;
}
 
 .carousel-item {
    height: 450px;
    width: 100%;
    background-color: #777;
    top: 0;
    left: 0;
    right: 0;

} 


 