/* General Syles */

body {
    color: #444444;
}

a {
    text-decoration: none;
    color: #5cb874;
}

a:hover {
    color: #80c792;
    text-decoration: none;
}

/* Nav Styles */

.navbar {
    padding:0;
}

.navbar .navbar-brand {
    color: #7fc74f;
    font-size: 'Raleway', sans-serif;
    font-size: 24px;

}

.navbar .navbar-brand:hover {
    
    color: #64c027;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    color: #222222;
    white-space: nowrap;
}

.navbar a i, .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover>a {
    color: #5cb874;
}

.navbar.navscrolltobtn {
    text-decoration: none !important;
}
.navbar .navscrolltobtn,
.navbar .navscrolltobtn:focus {
    color: #5cb874;
    padding: 8px 25px;
    margin-left: 30px;
    border-radius: 4px;
    border: 2px solid #5cb874;
    font-size: 14px;
}

.navbar .navscrolltobtn:hover,
.navbar .navscrolltobtn:focus:hover {
    background: #5cb874;
    color: #fff;
}




/*--------------------------------------------------------------
# showcase Section
--------------------------------------------------------------*/
#showcase {
    width: 100%;
    height: 70vh;
    background-color: rgba(9, 9, 9, 0.6);
    overflow: hidden;
    position: relative;
}

#showcase .container {
    text-align: center;
}

#showcase h2 {
    color: #fff;
    margin-top: 20px;
    font-size: 48px;
    font-weight: 700;
}

#showcase .carousel-inner .carousel-item {
    transition-property: opacity;
    background-position: center;
}


#showcase .carousel-indicators li {
    cursor: pointer;
    background: #fff;
    overflow: hidden;
    border: 0;
    width: 12px;   
    height: 12px;
    border-radius: 50px;
    opacity: 0.6;
    transition: 0.3s;

}

#showcase .carousel-indicators li.active {
    opacity: 1;
    background-color: #5cb874;
}


#showcase .carousel,
#showcase .carousel-inner,
#showcase .carousel-item,
#showcase .carousel-item::before {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#showcase .carousel-item::before {
    content: "";
    background-color:rgba(51, 170, 51, .26);
}
/* rgba(255, 0, 0, 0.3); red transparent
   rgba(255, 255, 255, 0.25)

   rgba(51, 170, 51, .1)
   /*  10% opaque green 
   rgba(51, 170, 51, .4)
   /*  40% opaque green 
   rgba(51, 170, 51, .7)
   /*  70% opaque green 
   rgba(51, 170, 51, 1)
   /* full opaque green 

*/




/* General styles for my sections */

section {
    padding: 60px 0;
}

.section-bg {
    background-color: #f8fcf9;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #5cb874;
    bottom: 0;
    left: calc(50% - 20px);
}

.section-title p {
    margin-bottom: 0;
    font-size: 14px;
    color: #919191;
}


/* ----------------Home Icons------------------- */

.home-icons {
    padding: 20px 0;
}

.home-icons .icon-box {
    padding: 20px;
}

.home-icons .icon-box-bg {
    background-image: linear-gradient(0deg, #222222 0%, #2f2f2f 50%, #222222 100%);
}

.home-icons .icon {
    margin-bottom: 15px;
}

.home-icons .icon i {
    color: #5cb874;
    font-size: 42px;
}

.home-icons .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.home-icons .title a {
    color: #222222;
    transition: 0.3s;
}

.home-icons .icon-box:hover .title a {
    color: #5cb874;
}

.home-icons .description {
    line-height: 24px;
    font-size: 14px;
}


/* About section */

.about .content h3 {
    font-weight: 700;
    font-size: 28px;
}